<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLUB Document</title>
</head>
<body>
    <center>
        <h1>
            An organization of people with a common purpose or interest, who meet regularly and take part in shared activities
        </h1>

        <h2><a href="{% url 'app2:pub' %}" target="_blank"> Navigate to pub </a></h2>
        <h1><a href="{% url 'app1:knock' %}" target="_blank">Navigate to Knock</a></h1>
        <h1><a href="{% url 'app1:kf' %}" target="_blank"> Navigate to Kf</a></h1>

    </center>
</body>
</html>